.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(26, 89, 213, 0.603);
   width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
} 

 .navbar-logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
} 

li{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: #222222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;

}

.nav-links:hover{
    background-color: #2c019a;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2sease-in-out;
}
.nav-links:hover{
    background-color: #0e019a;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}